* {
    margin:0;
}

html, body {
    height:100%; 
}

.appReceta{
    /*
    font-family: sans-serif; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
    */
    height:100%;
    background:#78a7ba; 
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;

    position: absolute;
    left: 0;
    width: 100%;
}


.formReceta {
    /*
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    */
    flex:1;
    background-color: #EFF0F1;
    max-width:600px;
    border-radius: 10px;
    border: 1px solid #999;
    margin-top: auto;
    margin-bottom: auto;
}

.titulo{
    padding:15px 0;
    border-bottom:1px solid #cccccc;
}

.titulo h1{
    font-size: 28px;
    text-align:center;
    color:#666;
}

.form-body{
    padding:5px 10px;
}


.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-group{
    flex:1;  
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 10px 5px;     
}

.rtext{
    font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  outline: none;
}

.area{
    height: 90px;
    resize: none;
}




@media only screen and (max-width: 500px) {
    .row{
      flex-direction:column;
    }
    .input-group{
        width: 100%;
    }
}